@page "/"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Line Bot 功能測試</h1>
<a href="https://github.com/kimx/LinebotPoc" target="_blank">完整說明</a>
<p>
    <h4>掃碼加入</h4>
    <img src="/img/linePocBot.png" />
</p>