@page "/Register/{linkToken?}"
@using LinebotPoc.Client.Providers;
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Text.Json;
@using LinebotPoc.Shared;

@if (RegisterFail)
{
    <div class="alert alert-danger" role="alert">
        使用者已存在
    </div>
}

<div class="login-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h3 class="mb-3">註冊帳號</h3>
                <div class="bg-white shadow rounded">
                    <EditForm Model="@Model" OnValidSubmit="@UserRegister">
                        <DataAnnotationsValidator />

                        <div class="row">
                            <div class="col-md-7 pe-0">
                                <div class="form-left h-100 py-5 px-5">
                                    <div class="row g-4">

                                        <div class="col-12">
                                            <label for="txtLoginId" class="form-label">Login Email</label>
                                            <InputText id="txtLoginId" @bind-Value="Model.UserEmail" class="form-control" />

                                            <ValidationMessage For="() => Model.UserEmail" />
                                        </div>
                                        <div class="col-12">
                                            <label for="txtLoginId" class="form-label">User Name</label>
                                            <InputText id="txtLoginId" @bind-Value="Model.UserName" class="form-control" />

                                            <ValidationMessage For="() => Model.UserName" />
                                        </div>


                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary px-4 float-end mt-4">送出</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-5 ps-0 d-none d-md-block">
                                <div class="form-right h-100 bg-primary text-white text-center pt-5">
                                    <i class="bi bi-bootstrap"></i>
                                    <h2 class="fs-1">New Register</h2>
                                </div>
                            </div>
                        </div>
                    </EditForm>
                </div>
                <p class="text-end text-secondary mt-3">Bootstrap 5 Login Page Design</p>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string LinkToken { get; set; }

    bool RegisterFail = false;
    [Inject]
    AuthenticationStateProvider _authStateProvider { get; set; }
    [Inject]
    NavigationManager _navigationManager { get; set; }

    [Inject]
    HttpClient httpClient { get; set; }

    private DummyUserDto Model = new DummyUserDto();
    private async Task UserRegister()
    {
        var response = await httpClient.PostAsJsonAsync("api/user/add", Model);
        if (!response.IsSuccessStatusCode)
        {
            RegisterFail = true;
            return;
        }
        _navigationManager.NavigateTo($"/login/{LinkToken}");



    }


}