<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <targets>
    <target name="NLogFile" xsi:type="File"
    layout="${longdate}-[${level}]-${logger}:${message} ${exception:format=tostring}"
    fileName="${aspnet-appbasepath}\wwwroot\Logs\current_.log"
    archiveFileName="${aspnet-appbasepath}\wwwroot\Logs\{#}_.log"
    maxArchiveFiles="10" encoding="utf-8" archiveDateFormat="yyyyMMdd" archiveNumbering="Date" archiveEvery="Day"
        />
  </targets>
  <rules>
    <!--Blocking BlackHole -->
    <logger name="Microsoft.EntityFrameworkCore.*" levels="Info,Warn,Error,Fatal" writeTo="NLogFile"   final="true"/>
    <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -begin -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -end -->
    <logger name="*" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="NLogFile" />
  </rules>
</nlog>