<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name="layoutDefine"
     value="${longdate} [${event-properties:item=EventId_Id:whenEmpty=0}][${level:padding=-5}] ${message} ${exception:format=tostring} (${callsite:includeNamespace=false:fileName=true:includeSourcePath=false})" />

  <targets>
    <!---預設所有資訊先寫到Trace-->
    <target xsi:type="Trace" name="TraceOutput" rawWrite="true" layout="${layoutDefine}" />
    <!---寫到Console-->
    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
    <!--寫入檔案-->
    <target name="NLogFile" xsi:type="File"
    layout="${longdate}-[${level}]-${logger}:${message} ${exception:format=tostring}"
    fileName="${aspnet-appbasepath}\wwwroot\Logs\current_.log"
    archiveFileName="${aspnet-appbasepath}\wwwroot\Logs\{#}_.log"
    maxArchiveFiles="10" encoding="utf-8" archiveDateFormat="yyyyMMdd" archiveNumbering="Date" archiveEvery="Day"
        />

    <!--寫入Application Insights-->
    <target type="ApplicationInsightsTarget" name="aiTarget" >
      <instrumentationKey>${configsetting:name=InstrumentationKey}</instrumentationKey>
    </target>
  </targets>
  <rules>
    <!---預設所有資訊先寫到Trace-->
    <logger name="*" writeTo="TraceOutput" />
    <!--Host資訊寫到Console -->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />
    <!--略過微軟及Http相關資訊，避免寫入下方的NLogFile -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="aiTarget" />
    <logger name="*" minlevel="Info" writeTo="NLogFile" />
  </rules>
</nlog>